body{
    background-color: bisque;
    font-family: fantasy;
    margin: 40px;
}

.title{
    font-size:xx-large;
    color: black;
}

ul{
    display: flex;
    justify-content: space-around;
}

section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.flex-container{
    display: flex;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;

}